html {
  background: #f0f0f0;
}

body {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ddd;
  border-bottom-color: #b8b8b8;

  margin: 20px;
}

/* Jumbotron */
#jumbotron {
  float: left;
  width: 100%;
}

#jumbotron h1 {
  margin: 0;
}

#jumbotron h3 {
  font-weight: 300;
  margin: 0 0 14px 0;
}

#jumbotron .button {
  padding:10px 18px;
  font-size: 16px;
  float: left;
  margin-right: 10px;
}

section {
  padding: 20px;
  border-top: 1px dashed #ddd;
}

section:first-child {
  border-top:none;
}

/* Style adjustments for high resolution devices */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}

div#newton {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;

  background: url(../../docs/images/isaac-newton.jpeg);
  background-size:100% 100%;

  float: left;
  height:150px;
  width:150px;
  margin-right: 40px;
  margin-bottom: 10px;
}
